# {{ ansible_managed }}
Defaults !requiretty
Cmnd_Alias ACME_NGINX_RELOAD = /bin/systemctl reload nginx
Cmnd_Alias ACME_NGINX_RESTART = /bin/systemctl restart nginx
letsencrypt ALL=(root) NOPASSWD: ACME_NGINX_RELOAD, ACME_NGINX_RESTART
